<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/LENOVO/IdeaProjects/opencart_version1.0/src/test/java/seleniumPractice">
        <classes>
            <class name="seleniumPractice.CheckboxesDemo">
               </class>
        </classes></test></suite>